@import url('https://fonts.googleapis.com/css2?family=Eater&family=Jomhuria&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Exa:wght@100..900&family=Russo+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Eater&family=Jomhuria&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lexend+Exa:wght@100..900&display=swap');



.new-info-card-gt {
    font-family: 'Lexend Exa', sans-serif;
    text-align: left;
    background-color: rgb(6, 164, 74);
    border-radius: 20px;
    color: #d7d7da;
    width: 350px;
    height: 220px;
    padding: 25px;
    box-shadow: #0e0053 2px 2px 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.new-info-card-gt label {
    font-family: 'Russo One', sans-serif;
    font-style: italic !important;
   
    color: #ffffff;
   
}



.new-info-card-gt p {
     color: #ffffff;
     
     
}

.title-of-card-gt {
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
}

.guerratool-logo-style {
    width: 30%;
    filter: brightness(0) invert(1);
}