.profile-picture {
    width: 100px;
    height: 100px;
    border: 3px solid #ffffff;
    border-radius: 50px;
}



.dashboard-container {
    display: flex;
    
    justify-content: center;
}
/* CONTAINER PARA VISTA DE TELEFONES */
  
.dashboard-container-phone label {
 color: #ffffff;
 text-align: flex-start;
 font-size: 20px;
 font-weight: 900;
 flex-direction: column;
 /* border: 2px solid #ffffff; */
 /* margin: auto;
 display: flex; */
}

.button-mobile {
  margin: 5px 10px;
  width: 70%;
  min-width: 150px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Adicionando uma transição suave */
}

.button-mobile:hover {
  background-color: #302F50;
  color: white;
}


.dashboard-container-phone {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}

.dashboard-container-tablet {
  display: flex;
  height: 100vh;
  justify-content: space-between;
}


  @media screen and (max-width: 620px) {
    .dashboard-container {
      display: none;
    }
    
  }

  @media screen and (min-width: 431px) and (max-width: 1024px) {
    .dashboard-container-phone {
      display: none;
    }
    
  }
  
  .sidebar {
    width: 20%;
    background-color: #302F50;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .main-content {

    display: grid;
    grid-auto-flow: column; /* Cria colunas automaticamente */
    grid-auto-columns: minmax(0, max-content); /* Define a largura da coluna com base no conteúdo */
    gap: 30px;
    overflow-x: auto;
    overflow-y: hidden;
      
  }
  

  .cards-container {
    
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  @media screen and (max-width: 431px) {
    .cards-container {
      width: 300px;
      height: 250px;
      display: flex;
      flex-wrap: nowrap; /* Mudança para nowrap para evitar a quebra de linha */
      gap: 30px;
      overflow-y: hidden;
      overflow-x: auto; 
      -ms-overflow-style: none; /* Para Internet Explorer e Edge */
      scrollbar-width: none; /* Para Firefox *//* Usar auto em vez de scroll para ocultar a barra de rolagem quando não for necessária */
      /* scroll-snap-type: x mandatory;  */
    }
  
    /* .cards-container:: -webkit-scrollbar {
      display: none; 
    }
   */
    .card {
      flex: 0 0 auto; /* Adicionado para garantir que os cartões não encolham ou cresçam */
      /* Adicione mais estilos aqui conforme necessário */
    }
  }
  

  .dashboard-card {
    flex: 1;
    width: calc(100% / 3- 30px); 
   /* Faz com que o card ocupe toda a largura da célula da grade */
    /* Restante dos estilos do card */
  }

  .logo {
    width: 185px;
    height: 100px;
    border-radius: 50px;
    margin-bottom: 20px;
  }

  .logo img {
    width: 100%;
    height: 100%;
    border-radius: 50px;  
  }

  @media screen and (min-width: 421px)  and (max-width: 2800px) {
    .dashboard-container-phone {
      display: none;
    }
    
  }

  @media screen and (max-width: 431px ){
    .logo {
      display: flex;
      margin: auto;
      width: 85px;
      height: 45px;
      border-radius: 50px;
      margin-bottom: 20px;
    }
  
    .logo img {
      width: 100%;
      height: 100%;
      border-radius: 50px;  
    }
  }
  
   .avatar, .name,  .button {
    margin-bottom: 10px;
    color: #ffffff;
    font-weight: 900;
  }

  .role {
    margin-top: -60;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .button {
    width: 100%;
    min-width: 150px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: transparent;
    color: white;
    cursor: pointer;
  }
  
  .button-filled {
    background-color: rgb(214, 17, 17);
    color: #ffffff;
    border: 3px solid rgb(255, 255, 255);
  }

  .button-filled-large {
    width: 100%;
    min-width: 150px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: white;
    color: #302F50;
    cursor: pointer;
  }
  
  /* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
   
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .separador {
    border: 2px solid #ffffff;
 
    overflow-y: hidden;
  }

  /* Estilos para o menu hamburguer */
.hamburger-button {
  display: none; /* Inicialmente oculto em telas grandes */
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
  margin-left: 10px;
}

.bar {
  background-color: #333;
  height: 4px;
  width: 100%;
  transition: transform 0.2s;
}

/* Estilos para o menu aberto em telas pequenas */
.sidebar.open {
  transform: translateX(0);
}

/* Estilos para o menu fechado em telas pequenas */
.sidebar {
  transform: translateX(-100%);
  /* ... outros estilos ... */

  /* Estilos para os botões do menu */
  button {
    display: block; /* Mostrar os botões */
  }
}

/* Estilos para ocultar os botões em telas grandes */
@media (max-width: 768px) {
  .hamburger-button {
    display: flex; /* Mostrar o botão hamburguer */
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar {
 button {
      display: none;
    } 
  }
}

@media (max-width: 768px) {
  .hamburger-button {
    display: flex; /* Mostrar o botão hamburguer */
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .sidebar {
    /* ... outros estilos ... */
    button {
      display: none; /* Ocultar os botões */
    }
  }
}

/* Estilo para a seção de conteúdo principal */
.main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Ajusta os cards ao espaço disponível */
  padding: 20px; /* Espaçamento entre os cards */
}

@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.loading-text {
  font-size: 24px;
  color: transparent;
  background-image: linear-gradient(45deg, #5f5f5f, #aeafaf, #ffffff, #000000);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: gradientBackground 5s ease infinite;
}

/* Gradiente de Background em movimento */
@keyframes gradientAnimation {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animated-background {
  background: linear-gradient(-45deg, #0072ff, #00c6ff, #0072ff, "#silver");
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
  /* Certifique-se de definir uma altura ou faça com que ela cubra um elemento específico */
  /* Exemplo de altura mínima */
}

.row-of-frontal-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
  max-width: 180%;
}

.little-cards-gd {
  background-color: #08055b;
  border: 1px solid #ffffff;
  max-height: 220px;
  min-width: 100%;
  border-radius: 15px;
  padding: 3%;
  margin: 2%;
  transition: transform 0.3s ease-in-out;
}

.little-cards-gd h2,
.little-cards-gd p {
  color: #ffffff;
  font-size: 120%;
}

.little-cards-gd:hover {
  transform: scale(1.05);
  border-color: #00c6ff;
}

.row-of-frontal-buttons button {
  padding: 10px 20px;
  margin: 0 5px;
  border: none;
  border-radius: 5px;
  background-color: #00c6ff;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.row-of-frontal-buttons button:hover {
  background-color: #0072ff;
}


.little-cards-tmt, h2, p{
  color: #ffffff;
  font-size: 100%;
}


.little-cards-gt, h2, p{
  color: #ffffff;
  font-size: 100%;
}


.little-cards-tmt {
  background-color: #24242b;
  border: 1px solid #ffffff;
  max-height: 220px;
  min-width: 100%;
  border-radius: 15px;
  padding: 3%;
  margin: 2%;
}

.little-cards-gt {
  background-color: #0a4c07;
  border: 1px solid #ffffff;
  max-height: 220px;
  min-width: 100%;
  border-radius: 15px;
  padding: 2%;
  margin: 4%;
}

/* style={{
          alignItems: 'left',
          textAlign: 'left',
          display: 'flex',
          flexDirection: 'row',
        }} */

