/* Toast.css */
.toast {
  /* Estilos base mantidos */
  visibility: hidden;
  min-width: 250px;
  /*margin-left: -125px;*/
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  left: 20px;
  bottom: 30px;
  font-size: 17px;
  transition: visibility 0.5s, bottom 0.5s ease-in-out;
}

.toast.show {
  visibility: visible;
  bottom: 50px;
}

/* Estilos específicos para cada tipo */
.toast.success {
  background-color: #4CAF50; /* Verde */
  font-weight: 800;
 
}

.toast.error {
  background-color: #F44336; /* Vermelho */
  font-weight: 800;
}

.toast.info {
  background-color: #2196F3; /* Azul */
  font-weight: 800;
}

.toast.warning {
  background-color: #FFC107; /* Amarelo */
  color: #000000;
  font-weight: 800;
}
