.link {
    color: #000000;
}

/* Adicione este estilo no seu arquivo CSS */
/* Adicione este estilo no seu arquivo CSS */
.zoomed-image {
    position: absolute;
    z-index: 999;
    transition: transform 0.3s ease-in-out;
    transform-origin: top right;
}

.table-titles {
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    padding: 10px;
}

.compressedDiv {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 150px; /* ou qualquer largura que você deseje */
    cursor: pointer; /* opcional, para indicar que é interativo */
  }
  
  /* Estilo para expandir a div no hover */
  .compressedDiv:hover {
    white-space: normal;
    max-width: 300px; /* remove a largura máxima no hover */
  }
  