.logs-screen-container {
    max-height: 700px;
    overflow-y: auto;
    max-width: 1280px;
}

.amount--details {
    color: black;
}

/* Customiza os botões de paginação */
.ant-pagination-item, .ant-pagination-prev, .ant-pagination-next {
    background-color: grey; /* Fundo cinza */
  }
  
  .ant-pagination-item-link, .ant-pagination-item a {
    color: black !important; /* Cor da fonte preta */
    font-weight: bold !important; /* Fonte em negrito */
  }
  
  /* Estilo para o botão da página atual */
  .ant-pagination-item-active {
    background-color: rgb(255, 255, 255) !important; /* Garante que o fundo do item ativo também seja cinza */
  }
  
  .ant-pagination-item-active a {
    color: black !important; /* Cor da fonte do item ativo */
  }
  
  .logs-screen-container {
    overflow-x: auto;
    
    width: calc(100vw - 40px); /* Calcula a largura como a largura total da viewport menos 40px de padding total */
    max-width: calc(100vw - 40px); /* Aplica a mesma lógica ao max-width */
}


.responsive-table-container {
  overflow-x: auto;
  width: calc(100% - 40px); /* Subtrai 40px no total, 20px de cada lado */
  margin: 0 auto; /* Centraliza o contêiner */
}

/* Ajustes para garantir que a tabela respeite os limites do contêiner */
.ant-table {
  width: auto !important;
}

.ant-table-container {
  min-width: 100%; /* Garante que a tabela não seja menor que o contêiner */
}
